<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <title>Actors</title>
</head>
<body>
    <img th:src="@{/images/buds.jpg}" alt="budSpencer"/>
    <div th:each="actor:${actors}">
        <a th:href="@{/actors/{id}(id = ${actor.id})}">
            <span th:text="${actor.name}"></span>
        </a>
    </div>
    <form action="/actors" method="post">
        <p>Name: <input type="text" name="name"/></p>
        <p>Famous Role: <input type="text" name="famousRole"/></p>
        <p>Special skill: <input type="text" name="specialSkill"/></p>
        <p>Best movie: <input type="text" name="bestMovie"/></p>
        <p>
            <button type="submit">Save actor!</button>
        </p>
    </form>
</body>
</html>